<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Example</title>
        <meta name="description" content="DomX">
        <meta name="author" content="abras">
    </head>
    <body>
        <!-- domx: {"name": "button"} -->
        <button data-domx-class="Button">click me</button>
        <!-- <button data-domx-class="Button">click me 2</button> -->
        
        <!-- domx: {"name": "button"} -->
        <div data-domx-class="Template.doT">
            <!-- domx: {"name": "btn_xxx", "ss": "{{=it.t}}"} -->
            <button data-domx-class="Button">xxx</button>
        </div>

        <!-- domx: {"name": "button2"} -->
        <div data-domx-class="Template.Jiko">
            <!-- domx: {"name": "btn_yy", "ss": "${t}"} -->
            <button data-domx-class="Button">jiko template</button>
        </div>

        <script type="text/javascript" src="js.class4/min/core.js"></script>
        <script type="text/javascript" src="jiko/underscore.js"></script>
        <script type="text/javascript" src="jiko/jiko.js"></script>
        <script type="text/javascript" src="doT.min.js"></script>
        <script type="text/javascript" src="../domx.js"></script>
        <script type="text/javascript">
            DomX.register(new JS.Class('Button', DomX.Element, {
                'initialize': function(node) {
                    this.callSuper(node);

                    this._bind('click');
                },

                'click': function(event) {
                    alert("hello world");
                }
            }));

            //start app
            var app = new DomX.Application();
        </script>
    </body>
</html>
